[Unit]
Description=Idle management daemon for Wayland
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w \
    timeout 300 'swaylock -f -i "%h/Pictures/Pi Board.jpg"' \
    timeout 301 'niri msg action power-off-monitors' \
    timeout 310 'systemctl suspend' \
    before-sleep 'swaylock -f -i "%h/Pictures/Pi Board.jpg"'
Restart=on-failure
